.hero-wrap {
  width: 100vw;
  height: 25em;
}

.hero-section {
  width: 100vw;
  height: 22em;
  background-color: var(--primary-color-varient);
}

.hero-img img {
  grid-area: hero-img;
  margin: 1em 0;
  width: 18em;
  height: 22em;
  border-radius: 1em;
}

.hero-content {
  grid-area: hero-content;
  width: 40em;
  color: var(--primary-color-white);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: .5em;
}

.hero-content h1 {
  color: var(--primary-color);
  font-size: 3em;
}
.hero-content h2 {
  font-size: 2.5em;
}

.hero-content p {
  color: var(--primary-color-white);
  font-family: Karla;
  font-size: 2em;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
}

.hero-container {
  display: grid;
  grid-template-areas: 'hero-content hero-img';
  justify-content: space-between;
  padding: 1vmax 8vmax;
  gap: 2vmax;
}

@media (max-width: 720px) {
  .hero-container {
    padding: 2vmax;
    grid-template-areas: 
    'hero-content';
  }
  .hero-img img {
    display: none;
  }
  .hero-content {
    width: 20em;
  }
  .hero-section {
    height: 27em;
  }
  .hero-wrap {
    height: 28em;
  }
}

@media (min-width: 721px ) and ( max-width: 1080px) {
  .hero-container {
    padding: 1vmax 8vmax;
    grid-template-areas: 
    'hero-content';
  }
  .hero-img img {
    display: none;
  }
  .hero-content {
    width: 40em;
  }
  .hero-section {
    height: 22em;
  }
  .hero-wrap {
    height: 23em;
  }
}