
.cart-section {
    width: 100vw;
    padding: 2vmax 8vmax;
}

.cart-container {
    padding: 1em;
    background-color: var(--primary-color-varient);
    color: #fff;
}

.cart-heading {
    font-size: 1em;
    padding: 1em;
}

.cart-items {
    display: flex;
    flex-direction: column-reverse;
}

.cart-details {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap:.5em;
    padding: 1em;
    border-bottom: 1px solid var(--primary-color-white);
    transition: background-color 1s;
}

.cart-details:hover {
    background-color: var(--secondary-color-varient-red);
}

.cart-img {
    width: 100%;
    padding: 2em;
}

.cart-detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.cart-action {
    display: grid;
    grid-template-columns: 6em 4em;
    gap: 1em;
    align-items: center;
}

.cart-qty {
    display: flex;
    gap: 1em;
    align-items: center;
}

.cart-qty-op {
    padding: .1em;
    height: 2em;
}

.cart-btn-dl {
    padding: .5em;
    color: red;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
}

.cart-btn-dl:hover {
    background-color: var(--secondary-color-varient-red);
}

.cart-sub-total {
    display: flex;
    justify-content: flex-end;
    font-size: 1.3em;
    padding: 1em;
}



@media (max-width: 720px){
    .cart-section {
        padding: 2vmax;
    }
    .cart-sub-total {
        font-size: 1.2em;
    }
    .cart-img {
        width: 100%;
        padding: .1em;
    }
}