.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.menu-header h2 {
  font-size: 3em;
}

.menu-item-img {
  border-radius: 0.5em 0.5em 0 0;
  width: 100%;
  height: 12em;
}

.menu-item-title-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}

.menu-item-price {
  color: var(--primary-color);
  font-weight: 700;
}

.menu-item-desc {
  padding: 1em;
  height: 6em;
}

.menu-item-btn {
  padding: 0.5em;
  margin: 1em .5em;
  cursor: pointer;
  width: 40%;
  font-weight: 500;
}

.menu-item-btn-d {
  padding: 0.5em;
  margin: 1em .5em;
  width: 50%;
}

.menu-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-p {
  width: 35%;
  display: flex;
  align-items: center;
  gap: 1em;
}

.menu-item-select {
  width: 4em;
  height: 2em;
  margin-right: 1em;
  border: none;
}

.menu-item {
  grid-area: menu-item;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 20em;
  background-color: var(--secondary-color-varient-gray);
  border-radius: 0.5em;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  width: 100%;
}

.menu-section {
  padding: 1vmax 8vmax;
}

.page-navigate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5em;
}

.nav-btn, .nav-btn-page {
  padding: .5em;
  border: none;
  background-color: transparent;
  color: var(--primary-color-varient);
}

.active-btn {
  background-color: var(--primary-color-varient);
  cursor: pointer;
  color: var(--primary-color-white);
}

.active-btn-page {
  text-direction: underline;
  cursor: not-allowed;
}

.disable-btn {
  cursor: not-allowed;
  background-color: none;
}

.filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.filter-btn select {
  width: 8em;
  border: none;
}

.filter-btn select option {
  background-color: var(--primary-color);
}

@media (max-width: 720px) {
  .menu-section {
    padding: 2vmax;
  }
  .menu-header {
    padding:  0 1em;
  }
  .menu-header h2 {
    font-size: 2em;
  }
  .filter-btn div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5em;
  }
  .menu-items {
    justify-content: center;
  }
}

@media (min-width: 721px) and (max-width: 1080) {
  .menu-section {
    padding: 2vmax;
  }
  .menu-header h2 {
    font-size: 2em;
  }
  .menu-items {
    justify-content: center;
  }
}
