.booking-section {
  width: 100vw;
  background-color: var(--primary-color-varient);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 8vmax;
}

.booking-section h2 {
  color:  var(--primary-color);
  text-align: center;
  font-size: 2em;
}

.booking-form {
  margin-top: 1em;
  display: grid;
  min-width: 20em;
  gap: 0.7em;
}

.booking-form  label {
    font-size: 1.2em;
}

.booking-form input, select {
    width: 100%;
    padding: .5em;
    font-size: 1em;
}

.booking-form input[type="submit"] {
    margin: 1em 0;
    cursor: pointer;
    background-color: var(--secondary-color-black);
    color: #fff;
    border-radius: .3em;
    transition: background-color 2s;
}

.booking-form input[type="submit"]:hover {
    background-color: var(--secondary-color-gray);
}

.err {
  color: red;
}

.field-err {
  outline: .1em solid red;
  border: 0;
}