.booking-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vmax 8vmax;
}

.booking-form {
  display: grid;
  min-width: 20em;
  gap: 0.7em;
}

.booking-form  label {
    font-size: 1.5em;
}

.booking-form input, select {
    width: 100%;
    padding: 1em;
    font-size: 1em;
}

.booking-form input[type="submit"] {
    margin-top: 1em;
    cursor: pointer;
    background-color: #333333;
    color: #fff;
    border-radius: .3em;
}

.booking-form input[type="submit"]:hover {
    background-color: #666666;
}
