.login-section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 8vmax;
}

.login-section h2 {
  color: var(--primary-color);
  text-align: center;
  font-size: 2em;
}

.login-form {
  margin-top: .5em;
  display: grid;
  min-width: 20em;
  gap: 0.4em;
}


.login-form  label {
    font-size: 1.2em;
}

.login-form input, select {
    width: 100%;
    padding: .5em;
    font-size: 1em;
}

.login-form input[type="submit"] {
    margin: 1em 0;
    cursor: pointer;
    background-color: var(--secondary-color-black);
    color: var(--primary-color-white);
    border-radius: .3em;
    transition: background-color 2s;
}

.login-form input[type="submit"]:hover {
    background-color: var(--secondary-color-gray);
}

.err {
  color: red;
}

.field-err {
  outline: .1em solid red;
  border: 0;
}

.login-btn {
    font-wight: 500;
    cursor: pointer;
    color: blue;
}

.login-btn:hover {
    text-decoration: underline;
}

.text-center {
  text-align: center;
}

@media (max-width: 720px) {
  .login-section {
    padding: 2vmax;
  }
}