* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-nav {
  grid-area: nav;
}

.main-area{
  display: grid;
  grid-template-areas: 'nav';
  overflow: hidden;
}

.page {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: .5em;
  min-height: 70vh;
}

.page-header {
  color:  #f4ce14;
  text-align: center;
  font-size: 2em;
}

.btn-primary {
  display: flex;
  padding: 1em 2em;
  align-items: flex-start;
  gap: 10px;
  border-radius: .5em;
  background: #f4ce14;
  cursor: pointer;
}

.warn-msg {
  margin: 2em;
  color: red;
}

.alert {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  padding: 1em;
}



@media (max-width: 720px) {
  .page-header {
    font-size: 1.5em;
  }
}